<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post" style="overflow-y:scroll; height:400px;">
    
    <div class="layui-form-item">
        <label class="layui-form-label">模板分类</label>
        {if empty($template_list_arr)}
        <div class="layui-input-block" style="line-height: 36px; color: red; font-size: 18px;">请先在小程序后台申请模板，并添加到当前后台微信模板</div>
        {else /}
        <div class="layui-input-block">
                <select id="type" lay-filter="type" name="template_id" class="layui-select" style="width: 75%;">
                    <!--{foreach template_list_arr as $key=>$st}-->
                    {if (!isset($vo['template_id']) AND $key eq 1) OR (isset($vo['template_id']) AND $vo.template_id eq $key)}
                    <option selected value="{$key}">- {$st} -</option>
                    <!--{else}-->
                    <option value="{$key}">- {$st} -</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
        </div>
        {/if}
    </div>
    <div id="mbdata"></div>
    <style type="text/css">
        .layui-row:before 
        {   
            content: '';
            display: none !important;
            clear: both;
        }
    </style>
    
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
                <select id="status" name="status" class="layui-select" style="width: 75%;">
                    <!--{foreach [1=>'启用',0=>'禁用'] as $key=>$st}-->
                    <!--{if (!isset($vo['status']) AND $key eq 1) OR (isset($vo['status']) AND $vo.status eq $key)}-->
                    <option selected value="{$key}">- {$st} -</option>
                    <!--{else}-->
                    <option value="{$key}">- {$st} -</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模板样例</label>
        <div class="layui-input-block" style="line-height: 36px; color: #039; cursor: pointer;" onclick="showExmple(this)">点击查看</div>
        <div class="layui-input-block" id="example" style="display: none;"></div>
    </div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
    <script type="text/javascript">
        var template_json = [];
        var example_json = [];
        var template_id = '';
        var is_show = 0;
        function showExmple(e){
            if(is_show == 0){
                $('#example').show();
                is_show = 1;
            }else{
                $('#example').hide();
                is_show = 0;
            }
        }
        $(document).ready(function(){
            var id = '{$vo.id|default=""}';
            $.ajax({
                url: '/qmxz/template_msg/getTemplateList',
                type: 'get',
                dataType: 'json',
                data: {
                    id:id
                },
                success: function(res){
                    template_json = res.template_arr;
                    example_json = res.example;
                    $('.layui-form-select').css('width', '75%');
                    var type = $("#type option:selected").val();
                    template_id = type;
                    var template_arr = template_json[template_id];
                    var html = '';
                    for (var i in template_arr) {
                        var obj = template_arr[i];
                        html += '<div class="layui-form-item">'
                             +        '<label class="layui-form-label">'+obj.title+'颜色</label>'
                             +         '<div class="layui-input-block">'
                             +            '<input type="text" autofocus name="'+obj.name+'[color]" required="required" value="'+obj.color+'" pattern="" title="'+obj.title+'颜色" placeholder="'+obj.title+'颜色" class="layui-input">'
                             +        '</div>'
                             +   '</div>'
                             + '<div class="layui-form-item">'
                             +        '<label class="layui-form-label">'+obj.title+'内容</label>'
                             +         '<div class="layui-input-block">'
                             +            '<input type="text" autofocus name="'+obj.name+'[value]" required="required" value="'+obj.value+'" pattern="" title="'+obj.title+'内容" placeholder="'+obj.title+'内容" class="layui-input">'
                             +        '</div>'
                             +   '</div>';
                    }
                    $('#mbdata').html(html);
                    $('#example').html(example_json[template_id]);
                },
                error: function(){
                    console.log('fail');
                }
             })
        });

        layui.use('form', function(){
            var form = layui.form;
            form.on('select(type)', function(data){
                var type = data.value;
                if(type != template_id){
                    console.log(type);
                    template_id = type;
                    var template_arr = template_json[template_id];
                    var html = '';
                    for (var i in template_arr) {
                        var obj = template_arr[i];
                        html += '<div class="layui-form-item">'
                             +        '<label class="layui-form-label">'+obj.title+'颜色</label>'
                             +         '<div class="layui-input-block">'
                             +            '<input type="text" autofocus name="'+obj.name+'[color]" required="required" value="'+obj.color+'" pattern="" title="'+obj.title+'颜色" placeholder="'+obj.title+'颜色" class="layui-input">'
                             +        '</div>'
                             +   '</div>'
                             + '<div class="layui-form-item">'
                             +        '<label class="layui-form-label">'+obj.title+'内容</label>'
                             +         '<div class="layui-input-block">'
                             +            '<input type="text" autofocus name="'+obj.name+'[value]" required="required" value="'+obj.value+'" pattern="" title="'+obj.title+'内容" placeholder="'+obj.title+'内容" class="layui-input">'
                             +        '</div>'
                             +   '</div>';
                    }
                    $('#mbdata').html(html);
                    $('#example').html(example_json[template_id]);
                }
            });

        });

        $("#test").on('click', '.add', function(){
            var html = '<div class="layui-row arr">';
            html += '<div class="layui-col-md9" style="margin-top:5px;">';
            html += '<input type="text" autofocus name="value_arr[]" required="required" value="" pattern="" title="" placeholder="请输入配置值(数组)，点击添加按钮添加下一个值" class="layui-input">';
            html += '</div><div class="layui-col-md3" style="margin-top:5px;">';
            //html += '<button class="layui-btn add" style="margin-left: 10px;">添加</button>';
            html += '<button class="layui-btn del layui-btn-danger" style="margin-left: 10px;">删除</button>';
            html +='<div></div>';

            $(this).parent().parent().parent().append(html);
            $("#test").children("div").children("div.arr").last().find("input").focus();
        });

       $("#test").on('click', '.del', function(){
            $(this).parent().parent().remove();
        });

    </script>
    <script type="text/javascript">
        layui.use('upload', function(){
            var $ = layui.jquery
            ,upload = layui.upload;

            var uploadInst = upload.render({
                elem: '#test2' //绑定元素
                ,url: '/jrbbsq/blessings/upload_img' //上传接口
                ,method: 'post'
                ,exts : 'jpg|png|gif'
                ,done: function(res){
                    if(res.code == 1){
                        $("#path").val(res.path);
                        $("#size").val(res.size);
                        $("#type").val(res.type);
                        $("#img").attr('src', res.path);
                        layer.msg('图片已经上传到网宿云存储', {icon: 6});

                    }else if(res.code == 0){
                        layer.msg(res.msg);
                    }else{
                        layer.msg(res.error_msg);
                    }
                }
            });
        });
    </script>
</form>