<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="divport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
  <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
  <meta HTTP-EQUIV="expires" CONTENT="0">
  <title>我要赢口红</title>
  <script src="__STATIC__/kouhongji/base/base.js?v={:time()}"></script>
  <link rel="stylesheet" href="__STATIC__/kouhongji/index/index.css?v={:time()}">
  <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
</head>

<body>
  <div class="body" id="vm">
    <div class="topbg" v-bind:class="{blur:tkShow}">
      <div class="toptit clearfix">
        <div class="notice" v-cloak>
          <image class="notice-img" src="__STATIC__/kouhongji/image/notice.png"></image>{{topTit}}
        </div>
        <image class="music-img" @click="musicSet" :src="musicOn?'__STATIC__/kouhongji/image/voice.png':'__STATIC__/kouhongji/image/closevoice.png'"></image>
        <div class="audioBox">
            <audio src="https://khj.wqop2018.com/game/audio/bgm.mp3" id="bgMusic" loop="true"></audio>
        </div>
      </div>
      <img src="__STATIC__/kouhongji/image/banner.png" class="banner">
      <div class="centerTxt clearfix">
        <div class="fl">玩游戏过三关赢口红</div>
        <div class="fr" @click="openRule">闯关购说明</div>
      </div>
      <div class="goods">
        <div class="item" v-for="(item,index) of goods" v-cloak @click="startGame(item.id)">
          <div class="detail">
            <image src="__STATIC__/kouhongji/image/kouhong.jpg"></image>
            <div class="price">专柜价 ￥{{item.sale_price}}</div>
            <div class="title">{{item.cate_name}}</div>
            <div class="model">{{item.title}}</div>
          </div>
          <div class="btn">{{item.price}}元闯关购</div>
        </div>
      </div>
      <div class="tryBtn" @click="tryGame"><img src="__STATIC__/kouhongji/image/try.png" ></div>
      <div class="footer">
        <div class="tabbar">
          <img src="__STATIC__/kouhongji/image/order.png"></image>
          <div class="tit">订单</div>
        </div>
        <div class="tabbar" @click="goUser">
          <image src="__STATIC__/kouhongji/image/my.png"></image>
          <div class="tit">我的</div>
        </div>
      </div>
    </div>
    <div class="tk" v-show="tkShow" v-cloak>
      <div class="rule" v-show="ruleShow">
        <div class="close" @click="closeTk">✕</div>
        <div class="list" v-for="(item,index) of ruleList" v-cloak>{{item}}</div>
      </div>
      <div class="balance" v-show="balanceShow">
          <div @click="closeTk" class="close">✕</div>
          <image src="__STATIC__/kouhongji/image/nomoney.png"></image>
          <div class="leave">余额不足</div>
          <div @click="payMoney" class="payBtn">去充值</div>
      </div>
      <div class="pay" v-show="payShow">
          <div class="paytitle">收银台</div>
          <div @click="closeTk" class="close">✕</div>
          <div class="money flex">
            <span>当前余额：</span>
            <image src="__STATIC__/kouhongji/image/money.png"></image>
            <span class="leave">{{money}}元</span>
          </div>
          <div class="change">
            <div class="changeitem" v-for="item of payList" @click="buy(item.id)">
              <span class="num">{{item.money}}</span>
              <span>元</span>
            </div>
          </div>
      </div>
    </div>
    <div class="loading" v-show="loadShow">
        <div class="bg"><img src="__STATIC__/kouhongji/image/loading.gif"></div>
    </div>
  </div>
</body>

</html>
<script type="text/javascript">
  var user_id = "{$user_id}";
  localStorage.setItem("user_id",user_id);
</script>
<script src="__STATIC__/kouhongji/index/index.js?v={:time()}"></script>
