<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
	<div class="layui-form-item">
        <label class="layui-form-label">整点场标题</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="title" required="required" value='{$vo.title|default=""}' pattern="" title="整点场标题" placeholder="整点场标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="des" value='{$vo.des|default=""}' required="required" pattern="" title="描述" placeholder="描述" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片地址</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="img" value='{$vo.img|default=""}' required="required" pattern="" title="图片地址" placeholder="图片地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">奖品选择</label>
        <div class="layui-input-block">
                <select id="prize_id" name="prize_id" lay-verify="required" class="layui-select" lay-search>
                    <option value="">- 请选择 -</option>
                    <!--{foreach $prize_list as $key=>$st}-->
                    <!--{if isset($vo['prize_id']) AND $vo.prize_id eq $key}-->
                    <option selected value="{$key}">- {$st} -</option>
                    <!--{else}-->
                    <option value="{$key}">- {$st} -</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">显示时间</label>
        <div class="layui-input-block">
            <input name="display_time" id='display_time' value="{$vo.display_time|default=''}" placeholder="请选择时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        window.form.render();
        window.laydate.render({range: false, elem: '#display_time', type: 'datetime'});
    </script>
</form>