{extend name='admin@public/content'}

{block name="button"}

{/block}
{block name="content"}
<div class="layui-form-item layui-inline">
    <!--{if auth("$classuri/add")}-->
    <button data-modal='{:url("$classuri/add")}' data-title="添加整点场" class='layui-btn layui-btn-sm'>添加</button>
    <!--{/if}-->
</div>
<div class="layui-form-item layui-inline" style="margin-left: 30px;">
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
	<div class="layui-form-item layui-inline">
        <label class="layui-form-label">整点场名字搜索</label>
        <div class="layui-input-inline">
            <input name="title" value="{$Think.get.title|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">开始时间</label>
        <div class="layui-input-inline" style="width: 265px;">
            <input name="create_time"  autocomplete="off" id='create_time' value="{$Think.get.create_time|default=''}" placeholder="请选择提现时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
</div>
<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
		<tr>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>主键</th>
            <th class='text-left nowrap'>标题</th>
            <th class='text-left nowrap'>描述</th>
            <th class='text-left nowrap'>图标展示</th>
            <!-- <th class='text-left nowrap'>图标地址</th> -->
            <th class='text-left nowrap'>轮播图</th>
            <th class='text-left nowrap'>奖品</th>
            <th class='text-left nowrap'>显示时间</th>
            <th class='text-left nowrap'>创建时间</th>
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑" data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}

                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {$vo.id}
            </td>
            <td class='text-left nowrap'>
                {$vo.title}
            </td>
            <td class='text-left nowrap'>
                {$vo.des}
            </td>
            <td class='text-left nowrap'>
                <img id="img" data-tips-image style="height:auto;max-height:32px;min-width:32px" src='{$vo.img}' />
            </td>
            <!-- <td class='text-left nowrap'>
                {$vo.img}
            </td> -->
            
            <td class='text-left nowrap'>
                {foreach $vo.banners as $k=>$v}
                <img id="img" data-tips-image style="height:auto;max-height:32px;min-width:32px" src='{$v}' />
                {/foreach}
            </td>
            <td class='text-left nowrap'>
                <div>{$vo.prize_name}</div>
                <img id="prize_img" data-tips-image style="height:auto;max-height:50px;min-width:50px" src='{$vo.prize_img}' />
            </td>
            <td class='text-left nowrap'>
                {$vo.display_time|date='Y-m-d H:i'}
            </td>
            <td class='text-left nowrap'>
                {$vo.create_time|date='Y-m-d H:i:s'}
            </td>          
        </tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
    <script>
        window.form.render();
        window.laydate.render({range: true, elem: '#create_time', type: 'datetime'});
    </script>
</form>
{/block}