{extend name='admin@public/content'}

{block name="button"}
{/block}

{block name="content"}
<div class="layui-form-item layui-inline" style="margin-left: 30px;">
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">玩家ID</label>
        <div class="layui-input-inline">
            <input name="name" value="{$Think.get.user_id|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
</div>

<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
    	<tr>
            <th class='text-left nowrap'>玩家ID</th>
            <th class='text-left nowrap'>头部</th>
            <th class='text-left nowrap'>身体</th>
            <th class='text-left nowrap'>左手</th>
            <th class='text-left nowrap'>右手</th>
            <th class='text-left nowrap'>左脚</th>
            <th class='text-left nowrap'>右脚</th>
            <th class='text-left nowrap'>整个</th>
            
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
    		<td class='text-left nowrap'>{$vo.user_id}</td>
    		<td class='text-left nowrap'>{$vo.head}</td>
    		<td class='text-left nowrap'>{$vo.body}</td>
    		<td class='text-left nowrap'>{$vo.left_hand}</td>
            <td class='text-left nowrap'>{$vo.right_hand}</td>
            <td class='text-left nowrap'>{$vo.left_foot}</td>
            <td class='text-left nowrap'>{$vo.right_foot}</td>
            <td class='text-left nowrap'>{$vo.prize}</td>
    	</tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}