<div class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post" style="overflow-y:scroll; height:400px;">

    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='text-left nowrap'>openid</th>
            <th class='text-left nowrap'>团员昵称</th>
            <th class='text-left nowrap'>团员头像</th>
            <th class='text-left nowrap'>团员贡献步数</th>
            <th class='text-left nowrap'>可获得奖励值</th>
            <th class='text-left nowrap'>步数所占比例</th>

            <th class='text-left nowrap'>团员加入时间</th>
            
        </tr>
        </thead>
        <tbody>
         <!--{foreach $vo as $k=>$v}-->
        <tr>
      
            <td class='text-left nowrap'>
                {$v.openid}
            </td>
            <td class='text-left nowrap'>
                {$v.nickname}
            </td>
            
            <td class='text-left nowrap'>
                <img style="width: 50%" src="{$v.avatar}"> 
            </td>
            <td class='text-left nowrap'>
                {$v.contribute_steps}
            </td>
            <td class='text-left nowrap'>
                {$v.get_reward}
            </td>
            <td class='text-left nowrap'>
                {$v.proportion}
            </td>
            <td class='text-left nowrap'>
                {$v.create_time}
            </td>
            
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>

    <script>window.form.render();</script>
    <script type="text/javascript">
        

    </script>
</div>