{extend name='admin@public/content'}

{block name="button"}

{/block}
{block name="content"}
<div class="layui-form-item layui-inline">
    <!--{if auth("$classuri/add")}-->
    <!-- <button data-modal='{:url("$classuri/add")}' data-title="添加" data-width='50%' class='layui-btn layui-btn-sm'>添加</button> -->
    <!--{/if}-->
    <!-- <button id='refresh' class='layui-btn layui-btn-sm'>刷新贡献比例</button> -->
</div>
<div class="layui-form-item layui-inline" style="margin-left: 30px;">
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">活动ID</label>
        <div class="layui-input-inline">
            <input name="activity_id" value="{$Think.get.activity_id|default=''}" placeholder="请输入想要搜索的活动ID" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">团队ID</label>
        <div class="layui-input-inline">
            <input name="id" value="{$Think.get.id|default=''}" placeholder="请输入想要搜索的团队ID" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">活动状态</label>
        <div class="layui-input-inline">
            <select name='status' class='layui-select' lay-search="">
                <option selected="selected" value=''> - 所有状态 -</option>
                <!--{foreach [ 0 => '已结束', 1 => '进行中'] as $k => $v}-->
                <!--{if $Think.get.status == $k}-->
                <option  value='{$k}'> - {$v} - </option>
                <!--{else}-->
                <option value='{$k}'> - {$v} - </option>
                <!--{/if}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
</div>
<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
		<tr>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>活动banner</th>
            <th class='text-left nowrap'>活动ID</th>
            <th class='text-left nowrap'>团队ID</th>
            <th class='text-left nowrap'>团队名称</th>
            <th class='text-left nowrap'>创建人openid</th>
            <th class='text-left nowrap'>团队人数</th>
            <th class='text-left nowrap'>团队总步数</th>
            <th class='text-left nowrap'>团队排名</th>
            <th class='text-left nowrap'>团队状态</th>
            <th class='text-left nowrap'>创建团队时间</th>
            
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td>

                <span class="text-explode">|</span>
                 <a data-title="团队成员" data-modal='{:url("$classuri/group_persons")}?id={$vo.id}'>团队成员</a>
                 
            </td>
            <td class='text-left nowrap'>
                <img style="width: 60%" src="{$vo.img}"> 
            </td>
            <td class='text-left nowrap'>
                {$vo.activity_id}
            </td>
            
            <td class='text-left nowrap'>
                {$vo.id}
            </td>
            
            <td class='text-left nowrap'>
                {$vo.group_name}
            </td>
            <td class='text-left nowrap'>
                {$vo.creator_openid}
            </td>
            <td class='text-left nowrap'>
                {$vo.nums}
            </td>
            <td class='text-left nowrap'>
                {$vo.group_steps}
            </td>
            <td class='text-left nowrap'>
                {if condition="$vo.rank==0"}
                    <span style="color: green"> 进行中 </span>

                {else /}

                    {$vo.rank}
                {/if}
            </td>
            <td class='text-left nowrap'>
                {if condition="$vo.status==1"}
                    <span style="color: green"> 进行中 </span>

                {else /}

                    <span style="color: red"> 已结束 </span>
                {/if}
            </td>
       
            <td class='text-left nowrap'>
                {$vo.create_time}
            </td>
            
        </tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
    <script>window.form.render();</script>
    <script type="text/javascript">
        $(function(){
            $("#refresh").click(function(){

                      $.get("/bxdj/group/count_proportion.html", function(result){
                        //console.log(result);
                        
                         if(result == 'success'){

                            alert('成功刷新目前团队步数贡献比例');


                         }else if(result == 'fail'){

                            alert('刷新团队步数贡献比例失败');

                         }else{

                            alert(result);

                         }

                      });   
                
            });
    
        })
    </script>
</form>
{/block}