<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="divport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>提现记录</title>
    <script src="__STATIC__/kouhongji/base/base.js?v={:time()}"></script>
    <link rel="stylesheet" href="__STATIC__/kouhongji/tixianRecord/tixianrecord.css?v={:time()}">
</head>

<body>
    <div class="body" id="vm">
        <div class="list" v-if="dataList.length" v-for="item in dataList" v-cloak>
            <div class='clearfix'>
                <div class='fl'>
                    <div class='orderNo'>订单号：{{item.trade_no}}</div>
                    <div class='money'>提现金额：￥{{item.amount}}</div>
                    <div class='time'>{{item.create_time}}</div>
                </div>
                <div class='fr'>
                    <div class='success_btn' v-if="item.status==1">已完成</div>
                </div>
            </div>
        </div>
        <div class='noRecord' v-if="!dataList.length" v-cloak>- - - 暂无记录 - - -</div>
        <div class='kf_tips' @click="wxTixian">去提现</div>
    </div>
</body>

</html>
<script src="__STATIC__/kouhongji/tixianRecord/tixianrecord.js?v={:time()}"></script>