{extend name='admin@public/content'}

{block name="button"}

{/block}
{block name="content"}
<div class="layui-form-item layui-inline">
    <!--{if auth("$classuri/add")}-->
     <button data-modal='{:url("$classuri/add")}' data-title="添加" data-width='50%' class='layui-btn layui-btn-sm'>添加</button> 
    <!--{/if}-->

     <button class="layui-btn layui-btn-primary" id='redisSave'><i class="layui-icon">&#xe600;</i> 刷新缓存</button>

</div>
<div class="layui-form-item layui-inline" style="margin-left: 30px;">

<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">产品分类</label>
        <div class="layui-input-inline">
            <select id="cate" lay-filter="type" name="cate" class="layui-select" >
                    <option value="">- 请选择分类 -</option>
                    <!--{foreach [1=>'新人换礼',2=>'邀请专区',3=>'精品好礼'] as $key=>$st}-->

                    <option value="{$key}">- {$st} -</option>

                    <!--{/foreach}-->
            </select>
        </div>
    </div>
 
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">燃力币值</label>
        <div class="layui-input-inline">
            <input name="price" value="{$Think.get.price|default=''}" placeholder="搜索出大于你填入的数字的数据" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">推荐位</label>
        <div class="layui-input-inline">
            <select name='onsale' class='layui-select' lay-search="">
                <option value=''> - 所有状态 -</option>

                <option selected="selected" value='1'> - 推荐商品 - </option>

                <option value='0'> - 非推荐商品 - </option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
    
</div>
<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
		<tr>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>商品ID</th>
            <th class='text-left nowrap'>商品图片</th>
            <th class='text-left nowrap'>商品名称</th>
            <th class='text-left nowrap'>库存量</th>
            <th class='text-left nowrap'>所需燃力币</th>
            <th class='text-left nowrap'>所属分类</th>
            <th class='text-left nowrap'>商品状态</th>
            
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑" data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}
                <span class="text-explode">|</span>
                <a data-title="添加图片集" data-modal='{:url("$classuri/add_pics")}?id={$vo.id}'>产品图片集</a>
            </td>
            <td class='text-left nowrap'>
                {$vo.id}
            </td>
            <td class='text-left nowrap'>
                <img style="height: 70px" src="{$vo.img}"> 
            </td>
            <td class='text-left nowrap'>
                {$vo.title}
            </td>
            <td class='text-left nowrap'>
                {$vo.stock}
            </td>
       
            <td class='text-left nowrap'>
                {$vo.price}
            </td>
            <td class='text-left nowrap'>
                 {if condition="$vo.cate == 1"}
                 新人换礼
                 {elseif condition="$vo.cate == 2"}
                 邀请专区
                 {else}
                 精品好礼
                 {/if}
            </td>

            <td class='text-left nowrap'>
                 {if condition="$vo.status == 1"}
                 <span style="color:green">启用</span>
                 {else}
                 <span style="color:red">停用</span> 
                 {/if}
            </td>
            
        </tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
    <script>window.form.render();</script>
    <script type="text/javascript">
            $(function() {
             //console.log($('.del').length);
             $('#redisSave').click(function(){
                 
                  $.get("/bxdj/goods/redisSave", function(result){
                         if(result == 'success'){

                            alert('刷新缓存成功');


                         }else if(result == 'fail'){

                            alert('刷新缓存失败');

                         }else{

                            alert('异常');

                         }
                        //window.location.reload();
                });    
            });
         });
    </script>
</form>
{/block}