<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post" style="overflow-y:scroll; height:400px;">
	<div class="layui-form-item">
        <label class="layui-form-label">商品色号名称</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="cate_name" required="required" value='' pattern="" title="" placeholder="请输入商品色号名称" class="layui-input" style="width: 75%;">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="order" required="required" value='50' pattern="" title="" placeholder="排序" class="layui-input" style="width: 75%;">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div style="width: 35%;" class="layui-input-block">
                <select  name="status" class="layui-select">
                    <!--{foreach [1=>'启用',0=>'不启用'] as $key=>$st}-->
                    <!--{if (!isset($vo['status']) AND $key eq 1) OR (isset($vo['status']) AND $vo.status eq $key)}-->
                    <option selected value="{$key}">- {$st} -</option>
                    <!--{else}-->
                    <option value="{$key}">- {$st} -</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
        </div>
    </div>

	<div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>

</form>