<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">小程序名字</label>
        <div class="layui-input-block">
            <input autofocus name="title" required="required" value='{$vo.title|default=""}' pattern="" title="小程序名字" placeholder="小程序名字" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">APPID</label>
        <div class="layui-input-block">
            <input autofocus name="appid" required="required" value='{$vo.appid|default=""}' pattern="" title="APPID" placeholder="APPID" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">IP设置</label>
        <div class="layui-input-block">
            <input autofocus name="ips" required="required" value='{$vo.ips|default=""}' pattern="" title="ip以; 分开" placeholder="ip以; 分开" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input autofocus name="memo" value='{$vo.memo|default=""}' pattern="" title="描述" placeholder="描述" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">秘钥</label>
        <div class="layui-input-block">
            <input autofocus name="app_secret" required="required" value='{$vo.app_secret|default=""}' pattern="" title="秘钥" placeholder="秘钥" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
                <select id="status" name="status" class="layui-select">
                    <!--{foreach [1=>'启用',0=>'禁用'] as $key=>$st}-->
                    <!--{if (!isset($vo['status']) AND $key eq 1) OR (isset($vo['status']) AND $vo.status eq $key)}-->
                    <option selected value="{$key}">- {$st} -</option>
                    <!--{else}-->
                    <option value="{$key}">- {$st} -</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
        </div>
    </div>

	<div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>