<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post" style="overflow-y:scroll; height:400px;">

    <!--{empty name='vo'}-->

        <p class="help-block text-center well" style="width: 100%; margin-left: 10px;">没 有 收 货 地 址 记 录 哦 ！</p>

    <!--{else}-->
        <!-- {foreach $vo as $key=>$st}-->
    	<div class="layui-form-item" style="margin-left: 60px;">
            <label class="layui-form-label">收货地址信息：</label>
                <table class="layui-table" lay-skin="line">
                    <thead>
                    <tr>
                        <th class='text-left nowrap'>省份</th>
                        <th class='text-left nowrap'>详细地址</th>
                        {if condition='$st.status==1'}<th class='text-right nowrap'> <span style="color: green">默认地址</span> </th>{/if}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 50%">
                           {$st.region}
                        </td>
                        <td>
                           {$st.addr}
                        </td>
                        {if condition='$st.status==1'}<td></td>{/if}
                    </tr>

                    </tbody>
                </table>
        </div>
        <!--{/foreach}-->
    <!--{/empty}-->
    <script type="text/javascript">


    </script>
</form>