<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="divport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>佣金提现</title>
    <script src="__STATIC__/kouhongji/base/base.js?v={:time()}"></script>
    <link rel="stylesheet" href="__STATIC__/kouhongji/tixian/tixian.css?v={:time()}">
</head>

<body>
    <div class="body" id="vm">
        <div class="mingxi" @click='gotixianRecord'>提现记录</div>
        <div class='clearfix'></div>
        <div class='content'>
            <div class='toptxt'>我的余额</div>
            <div class='money'>￥{{user_amount}}</div>
            <div class='numbox clearfix'>
                <div class='txt-l'>￥</div>
                <input type='text' v-model="bindKeyInput" placeholder="请输入要提现的金额" class='inputClass' id="yyy"/>
                <div class='txt-r' @click='tixianAll'>全部提现</div>
            </div>
            <div class='tixianBtn' @click='tixianBtn'>提现</div>
            <div class='gameBtn' @click='againGame'>继续游戏</div>
        </div>
        <div class='success_tk' v-if="tkShow">
            <div class='bg'>
                <image class='success_img' src='https://txcdn.ylll111.xyz/hzttk/icon-finish.png'></image>
                <div class='title'>提现单号</div>
                <div class='txt'>点击下方复制单号提现</div>
                <div class='no1'>
                    <div class='con'>{{orderNo}}</div>
                    <div class='fuzhi_btn' @click='fuzhi'>复制单号</div>
                </div>
                <image class='close' src='https://txcdn.ylll111.xyz/hzttk/tixian_close.png' @click='closeTk'></image>
            </div>
        </div>
        <div class='kf_tips' v-if="kfTkShow">
            <div class='bg'>
                <div class='tit'>单号已复制，前往提现</div>
                <div class='kfbtn'>去提现 </div>
                <image class='close' src='https://txcdn.ylll111.xyz/hzttk/tixian_close.png' @click='closeTk'></image>
            </div>
        </div>
        <div class="loading" v-show="loadShow">
            <div class="bg"><img src="__STATIC__/kouhongji/image/loading.gif"></div>
        </div>
    </div>
</body>

</html>
<script src="__STATIC__/kouhongji/tixian/tixian.js?v={:time()}"></script>