<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
	<div class="layui-form-item">
        <label class="layui-form-label">礼物名称</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="name" required="required" value='{$vo.name|default=""}' pattern="" title="请输入礼物名称" placeholder="请输入礼物名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="img" required="required" value='{$vo.img|default=""}' pattern="" title="请输入礼物图片地址" placeholder="请输入礼物图片地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">词语状态</label>
        <div class="layui-input-block">
                <select id="status" name="status" class="layui-select">
                	<!--{foreach [1=>'启用',0=>'禁用'] as $key=>$st}-->
                	<!--{if (!isset($vo['status']) AND $key eq 1) OR (isset($vo['status']) AND $vo.status eq $key)}-->
                	<option selected value="{$key}">- {$st} -</option>
	                <!--{else}-->
	                <option value="{$key}">- {$st} -</option>
	                <!--{/if}-->
                	<!--{/foreach}-->
                </select>
        </div>
    </div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>