<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
	<div class="layui-form-item">
        <label class="layui-form-label">广告类型</label>
        <div class="layui-input-block">
                <select id="type" name="type" class="layui-select">
                	<!--{foreach [1 => '广点通', 2 => '跳转到其他小程序'] as $key=>$st}-->
                	<!--{if (!isset($vo['type']) AND $key eq 1) OR (isset($vo['type']) AND $vo.type eq $key)}-->
                	<option selected value="{$key}">- {$st} -</option>
	                <!--{else}-->
	                <option value="{$key}">- {$st} -</option>
	                <!--{/if}-->
                	<!--{/foreach}-->
                </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否开启</label>
        <div class="layui-input-block">
                <select id="open_ad" name="open_ad" class="layui-select">
                	<!--{foreach [1=>'开启',0=>'不开启'] as $key=>$st}-->
                	<!--{if (!isset($vo['open_ad']) AND $key eq 1) OR (isset($vo['open_ad']) AND $vo.open_ad eq $key)}-->
                	<option selected value="{$key}">- {$st} -</option>
	                <!--{else}-->
	                <option value="{$key}">- {$st} -</option>
	                <!--{/if}-->
                	<!--{/foreach}-->
                </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">广点通代码</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="gdt_content" value='{$vo.gdt_content|default=""}' pattern="" title="广点通代码" placeholder="广点通代码" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Appid</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="appid" value='{$vo.appid|default=""}' pattern="" title="Appid" placeholder="Appid" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Path</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="path" value='{$vo.path|default=""}' pattern="" title="Path" placeholder="Path" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Extar Data</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="extar_data" value='{$vo.extar_data|default=""}' pattern="" title="Extar Data" placeholder="Extar Data" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="img" value='{$vo.img|default=""}' pattern="" title="图片" placeholder="图片" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">广告位置</label>
        <div class="layui-input-block">
                <select id="position" name="position" class="layui-select">
                	<!--{foreach ['首页浮动广告' => '首页浮动广告', '首页banner广告' => '首页banner广告', '游戏页广告'=> '游戏页广告'] as $key=>$st}-->
                	<!--{if (!isset($vo['position']) AND $key === '首页浮动广告') OR (isset($vo['position']) AND $vo.position === $key)}-->
                	<option selected value="{$key}">- {$st} -</option>
	                <!--{else}-->
	                <option value="{$key}">- {$st} -</option>
	                <!--{/if}-->
                	<!--{/foreach}-->
                </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">其他图片</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="xcx_img" value='{$vo.xcx_img|default=""}' pattern="" title="其他图片" placeholder="其他图片" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">位置类型</label>
        <div class="layui-input-block">
                <select id="position_type" name="position_type" class="layui-select">
                	<!--{foreach [1 => '首页浮动广告', 2 => '首页banner广告', 3=> '游戏页广告'] as $key=>$st}-->
                	<!--{if (!isset($vo['position_type']) AND $key eq 1) OR (isset($vo['position_type']) AND $vo.position_type eq $key)}-->
                	<option selected value="{$key}">- {$st} -</option>
	                <!--{else}-->
	                <option value="{$key}">- {$st} -</option>
	                <!--{/if}-->
                	<!--{/foreach}-->
                </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Ves</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="ves" value='{$vo.ves|default=""}' pattern="" title="Ves" placeholder="Ves" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">版本</label>
        <div class="layui-input-block">
                <select id="version" name="version" class="layui-select">
                	<!--{foreach ['develop' => '开发版', 'trial' => '体验版', 'release'=> '正式版'] as $key=>$st}-->
                	<!--{if (!isset($vo['version']) AND $key === 'release') OR (isset($vo['version']) AND $vo.version === $key)}-->
                	<option selected value="{$key}">- {$st} -</option>
	                <!--{else}-->
	                <option value="{$key}">- {$st} -</option>
	                <!--{/if}-->
                	<!--{/foreach}-->
                </select>
        </div>
    </div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>