<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
	<div class="layui-form-item">
        <label class="layui-form-label">APP ID</label>
        <div class="layui-input-block">
            
            <input id="appid" name="appid" value='{$vo.appid|default=""}'  required="required" pattern="" title="请输入appid" placeholder="请输入appid" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">APP 名称</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="app_title" required="required" value='{$vo.app_title|default=""}' pattern="" title="请输入APP名称" placeholder="请输入APP名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">推广位置</label>
        <div class="layui-input-block">
                <select id="position" name="position" class="layui-select">
                    <!--{foreach $position_arr as $key=>$st}-->
                    <!--{if (!isset($vo['position']) AND $key eq 1) OR (isset($vo['position']) AND $vo.position eq $key)}-->
                    <option selected value="{$key}">- {$st} -</option>
                    <!--{else}-->
                    <option value="{$key}">- {$st} -</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">APP 描述</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="app_desc" required="required" value='{$vo.app_desc|default=""}' pattern="" title="请输入APP描述" placeholder="请输入APP描述" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">APP icon</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="app_icon" required="required" value='{$vo.app_icon|default="0"}' pattern="" title="APP icon" placeholder="APP icon" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="number" autofocus name="sort_order" required="required" value='{$vo.sort_order|default="0"}' pattern="^[0-9]\d?$" title="APP sort" placeholder="APP sort" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">link_text</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="link_text" required="required" value='{$vo.link_text|default=""}' pattern="" title="请输入link_text" placeholder="请输入link_text" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">link_path</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="link_path" required="required" value='{$vo.link_path|default=""}' pattern="" title="请输入link_path" placeholder="请输入link_path" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">params</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="params"  value='{$vo.params|default=""}' pattern="" title="请输入params" placeholder="请输入params" class="layui-input">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
                <select id="status" name="status" class="layui-select">
                	<!--{foreach [1=>'启用',0=>'禁用'] as $key=>$st}-->
                	<!--{if (!isset($vo['status']) AND $key eq 1) OR (isset($vo['status']) AND $vo.status eq $key)}-->
                	<option selected value="{$key}">- {$st} -</option>
	                <!--{else}-->
	                <option value="{$key}">- {$st} -</option>
	                <!--{/if}-->
                	<!--{/foreach}-->
                </select>
        </div>
    </div>


	<div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>