<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post" style="overflow-y:scroll; height:400px;">
    <div class="layui-form-item">
        <label class="layui-form-label">规则标题</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="title" required="required" value={$vo.title} placeholder="请输入规则的标题" class="layui-input" style="width: 55%;">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">规则内容</label>
        <div class="layui-input-block">
            <textarea name="content" cols="50" rows="10" style="width: 85%;">{$vo.content}</textarea>
        </div>
    </div>
  

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
   
</form>