<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
	<div class="layui-form-item">
        <label class="layui-form-label">皮肤名称</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="name" required="required" value='{$vo.name|default=""}' pattern="" title="请输入皮肤名称" placeholder="请输入皮肤名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片地址</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="img" required="required" value='{$vo.img|default=""}' pattern="" title="请输入图片地址" placeholder="请输入图片地址" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">购买需要的金币</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="gold" required="required" value='{$vo.gold|default=""}' pattern="" title="请输入购买需要的金币" placeholder="请输入购买需要的金币" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">条件</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="tiaojian" required="required" value='{$vo.tiaojian|default=""}' pattern="" title="" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">背景描述</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="beijing" required="required" value='{$vo.beijing|default=""}' pattern="" title="请输入背景描述" placeholder="请输入背景描述" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选中描述</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="miaoshu" required="required" value='{$vo.miaoshu|default=""}' pattern="" title="请输入选中描述" placeholder="请输入选中描述" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">挑战成功描述</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="success_txt" required="required" value='{$vo.success_txt|default=""}' pattern="" title="请输入挑战成功描述" placeholder="请输入挑战成功描述" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">失败描述</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="false_txt" required="required" value='{$vo.false_txt|default=""}' pattern="" title="请输入失败描述" placeholder="请输入失败描述" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
                <select id="status" name="status" class="layui-select">
                	<!--{foreach [1=>'启用',0=>'禁用'] as $key=>$st}-->
                	<!--{if (!isset($vo['status']) AND $key eq 1) OR (isset($vo['status']) AND $vo.status eq $key)}-->
                	<option selected value="{$key}">- {$st} -</option>
	                <!--{else}-->
	                <option value="{$key}">- {$st} -</option>
	                <!--{/if}-->
                	<!--{/foreach}-->
                </select>
        </div>
    </div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>