{extend name='admin@public/content'}

{block name="button"}
{/block}

{block name="content"}
<div class="layui-form-item layui-inline">
    <div class="layui-form-item layui-inline">
        <!--{if auth("$classuri/add")}-->
        <button data-modal='{:url("$classuri/add")}' data-title="添加礼物" class='layui-btn layui-btn-sm layui-bg-green'>添加</button>
        <!--{/if}-->
    </div>
</div>
<div class="layui-form-item layui-inline" style="margin-left: 30px;">
</div>

<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
    	<tr>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>部位名字</th>
            <th class='text-left nowrap'>定义</th>
            <th class='text-left nowrap'>几率设置</th>
            
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td class='text-left nowrap'>

                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑" data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}
            </td>
    		<td class='text-left nowrap'>{$vo.id}</td>
    		<td class='text-left nowrap'>{$vo.name}</td>
    		<td class='text-left nowrap'>{$vo.index}</td>
    		<td class='text-left nowrap'>{$vo.percent}</td>
    	</tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}