{extend name='admin@public/content'}

{block name="content"}
<div class="layui-form-item layui-inline">
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
	<div class="layui-form-item layui-inline">
        <label class="layui-form-label">AppID搜索</label>
        <div class="layui-input-inline">
            <input name="appid" value="{$Think.get.appid|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">开始时间</label>
        <div class="layui-input-inline">
            <input name="start_time" id='start_time' value="{$Think.get.start_time|default=''}" placeholder="请选择开始时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">结束时间</label>
        <div class="layui-input-inline">
            <input name="end_time" id='end_time' value="{$Think.get.end_time|default=''}" placeholder="请选择结束时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
</div>
<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
    	<tr>
            <th class='text-left nowrap'>图片</th>
            <th class='text-left nowrap'>AppID</th>
            <th class='text-left nowrap'>总点击次数</th>
            <th class='text-left nowrap'>今天点击次数</th>
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td class='text-left nowrap'>
                <img data-tips-image style="height:auto;max-height:32px;min-width:32px" src="{$vo.img}"/>
            </td>
            <td class='text-left nowrap'>
                {$vo.appid}
            </td>
            <td class='text-left nowrap'>
                {$vo.total}
            </td>
            <td class='text-left nowrap'>
                <?php echo isset($list_taday[$vo['appid']]) ? $list_taday[$vo['appid']] : 0; ?>
            </td>
		</tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    <!--{/empty}-->
</form>
<script>
	window.form.render();
    window.laydate.render({range: false, elem: '#start_time', type: 'datetime'});
    window.laydate.render({range: false, elem: '#end_time', type: 'datetime'});
</script>
{/block}