<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="divport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>个人中心</title>
    <script src="__STATIC__/kouhongji/base/base.js?v={:time()}"></script>
    <link rel="stylesheet" href="__STATIC__/kouhongji/user/user.css?v={:time()}">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
</head>

<body>
    <div class="body" id="vm">
        <div class="top">
            <div class="user column" v-cloak>
                <image class="avatar" :src="userInfo.avatar?userInfo.avatar:'__STATIC__/kouhongji/image/avatar.png'"></image>
                <div class="nickname">{{userInfo.nickname?userInfo.nickname:'神秘人'}}</div>
            </div>
            <div class="money flex" v-cloak>
                <div class="li">
                    <div>口红</div>
                    <div class="item">
                        <image src="__STATIC__/kouhongji/image/icon.png"></image>
                        <div class="mycoin">{{userInfo.count}}</div>
                    </div>
                </div>
                <div></div>
                <div class="li">
                    <div>我的余额</div>
                    <div class="item">
                        <span class="mycoin ys">{{userInfo.money}}</span>
                        <span>元</span>
                    </div>
                </div>
                <div></div>
                <div class="li" @click="goFenxiao">
                        <div>我的佣金</div>
                        <div class="item">
                            <span class="mycoin ys">{{userInfo.dis_money}}</span>
                            <span>元</span>
                        </div>
                </div>
            </div>
            <div class="order" @click="goOrder">
                <div>我的挑战</div>
                <image src="__STATIC__/kouhongji/image/right.png"></image>
            </div>
            <div class="order" @click="codePoster">
                <div>我的海报</div>
                <image src="__STATIC__/kouhongji/image/right.png"></image>
            </div>
            <div class="order" @click="tixian">
                <div>佣金提现</div>
                <image src="__STATIC__/kouhongji/image/right.png"></image>
            </div>
            <div class="footer">
                <div class="tabbar" @click="goIndex">
                    <img src="__STATIC__/kouhongji/image/order.png"></image>
                    <div class="tit">订单</div>
                </div>
                <div class="tabbar">
                    <image src="__STATIC__/kouhongji/image/my.png"></image>
                    <div class="tit">我的</div>
                </div>
            </div>
        </div>
        <div class="loading" v-show="loadShow">
            <div class="bg"><img src="__STATIC__/kouhongji/image/loading.gif"></div>
        </div>
        <canvas id="myCanvas"></canvas>
        <image class="qrcodeImg" :src="posterImg" v-if="posterImgShow" @click="closeImg"></image>
    </div>
</body>

</html>
<script src="__STATIC__/kouhongji/user/user.js?v={:time()}"></script>
