<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="divport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>个人中心</title>
    <script src="__STATIC__/kouhongji/base/base.js"></script>
</head>

<body>
    <div class="body" id="vm">
        <div class="top">
            <div class="user column">
                <image class="avatar" src="__STATIC__/kouhongji/image/avatar.png"></image>
                <div class="nickname">移动小霸王</div>
            </div>
            <div class="money flex">
                <div class="left">
                    <div>口红</div>
                    <div class="item">
                        <image src="__STATIC__/kouhongji/image/icon.png"></image>
                        <div class="mycoin">0</div>
                    </div>
                </div>
                <div></div>
                <div class="right">
                    <div>我的金币</div>
                    <div class="item">
                        <span class="mycoin">0</span>
                        <span>个</span>
                    </div>
                </div>
            </div>
            <div class="order">
                <div>我的订单</div>
                <image src="__STATIC__/kouhongji/image/right.png"></image>
            </div>
            <div class="order">
                <div>获取地址</div>
                <image src="__STATIC__/kouhongji/image/right.png"></image>
            </div>
            <!-- <div class="order between" hoverClass="none" openType="contact" style="border:0;">
                <div>联系客服</div>
                <image src="__STATIC__/kouhongji/__STATIC__/kouhongji/resource/images/right.png"></image>
            </div> -->
            <div class="footer">
                <div class="tabbar" @click="goIndex">
                    <img src="__STATIC__/kouhongji/image/order.png"></image>
                    <div class="tit">订单</div>
                </div>
                <div class="tabbar">
                    <image src="__STATIC__/kouhongji/image/my.png"></image>
                    <div class="tit">我的</div>
                </div>
            </div>
            <!-- <div class="share" open-type='share'>分享给好友一起赢口红</div> -->
        </div>
    </div>
</body>

</html>
<script src="__STATIC__/kouhongji/user/user.js"></script>
<link rel="stylesheet" href="__STATIC__/kouhongji/user/user.css">