<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='vo'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
	<table class="layui-table" lay-skin="line">
		<thead>
        <tr>
            <th class='text-left nowrap'>用户等级</th>
            <th class='text-left nowrap'>分数段</th>
            <th class='text-left nowrap'>最大点击次数</th>
            <th class='text-left nowrap'>跳跃时间</th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $vo as $key=>$v}-->
        <tr>
        	<td class='text-left nowrap'>
                {$v.user_level_id}
            </td>
            <td class='text-left nowrap'>
                {$v.score_mark}
            </td>
            <td class='text-left nowrap'>
                {$v.max}
            </td>
            <td class='text-left nowrap'>
                {$v.time}
            </td>
        </tr>
        <!--{/foreach}-->
        </tbody>
	</table>
	<!--{/empty}-->
</form>