<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="title" required="required" value='{$vo.title|default=""}' pattern="" title="标题" placeholder="标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上传图片</label>
        <div class="layui-input-block">
            <div class="layui-row">
                <div class="layui-col-md6">
                    <input type="text" autofocus id="path" name="img" required="required" value='{$vo.img|default=""}' pattern="" title="图片地址" placeholder="图片地址" class="layui-input">
                </div>
                <div class="layui-col-md3">
                    <div class="layui-upload" style="margin-left: 20px;">
                        <button type="button" class="layui-btn" id="test1">上传图片</button>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <img id="img" data-tips-image style="height:auto;max-height:32px;min-width:32px" src='{$vo.img|default=""}' />
                </div>
            </div>
        </div>
        
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" autofocus name="des" required="required" value='{$vo.des|default=""}' pattern="" title="描述" placeholder="描述" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
    <script type="text/javascript">
        layui.use('upload', function(){
            var $ = layui.jquery
            ,upload = layui.upload;

            var uploadInst = upload.render({
                elem: '#test1' //绑定元素
                ,url: '/admin/img/upload' //上传接口
                ,method: 'post'
                ,exts : 'jpg|png|gif'
                ,done: function(res){
                    if(res.code == 1){
                        $("#path").val(res.path);
                        // $("#size").val(res.size);
                        // $("#type").val(res.type);
                        $("#img").attr('src', res.path);
                        layer.msg('图片已经上传到网宿云存储', {icon: 6});

                    }else if(res.code == 0){
                        layer.msg(res.msg);
                    }else{
                        layer.msg(res.error_msg);
                    }
                }
            });
        });
    </script>
</form>