{extend name='admin@public/content'}

{block name="button"}

{/block}
{block name="content"}
<div class="layui-form-item layui-inline">
    <!--{if auth("$classuri/add")}-->
    <button data-modal='{:url("$classuri/add")}' data-title="添加" data-width='50%' class='layui-btn layui-btn-sm'>添加</button>
    <!--{/if}-->
</div>
<div class="layui-form-item layui-inline" style="margin-left: 30px;">
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户id</label>
        <div class="layui-input-inline">
            <input name="user_id" value="{$Think.get.user_id|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">openid</label>
        <div class="layui-input-inline">
            <input name="openid" value="{$Think.get.openid|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-inline">
            <input name="nickname" value="{$Think.get.nickname|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">累计金额</label>
        <div class="layui-input-inline">
            <input name="amount_total" value="{$Think.get.amount_total|default=''}" placeholder="搜索出大于你填入的数字的数据" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name='status' class='layui-select' lay-search="">
                <option value=''> - 所有状态 -</option>
                <!--{foreach [1 => '黑名单', 2=> '白名单', '3' => '羊毛党'] as $k => $v}-->
                <!--{if $Think.get.status == $k}-->
                <option selected="selected" value='{$k}'> - {$v} - </option>
                <!--{else}-->
                <option value='{$k}'> - {$v} - </option>
                <!--{/if}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
</div>
<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
		<tr>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>用户ID</th>
            <th class='text-left nowrap'>openid</th>
            <th class='text-left nowrap'>昵称</th>
            <th class='text-left nowrap'>剩余挑战次数</th>
            <th class='text-left nowrap'>已挑战次数</th>
            <th class='text-left nowrap'>成功次数</th>
            <th class='text-left nowrap'>剩余金额</th>
            <th class='text-left nowrap'>累计金额</th>
            <th class='text-left nowrap'>用户等级</th>
            <th class='text-left nowrap'>玩家状态</th>
            
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td>
                {if $vo.user_status eq 1 and auth("$classuri/forbid")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}'>拉黑</a>
                {elseif auth("$classuri/resume")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'>恢复</a>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {$vo.id}
            </td>
            <td class='text-left nowrap'>
                {$vo.openid}
            </td>
            <td class='text-left nowrap'>
                {$vo.nickname}
            </td>
            <td class='text-left nowrap'>
                {$vo.chance_num}
            </td>
            <td class='text-left nowrap'>
                {$vo.challenge_num}
            </td>
            <td class='text-left nowrap'>
                {$vo.success_num}
            </td>
            <td class='text-left nowrap'>
                {$vo.amount}
            </td>
            <td class='text-left nowrap'>
                {$vo.amount_total}
            </td>
            <td class='text-left nowrap'>
                {$vo.user_level}
            </td>
            
            <td class='text-left nowrap'>
                {if $vo.user_status eq 0}<span class="color-red">黑名单</span>{elseif $vo.user_status eq 1}<span class="color-green">白名单</span>{elseif $vo.user_status eq 2}<span class="color-red">羊毛党</span>{/if}
            </td>
            
        </tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
    <script>window.form.render();</script>
</form>
{/block}