{extend name='admin@public/content'}

{block name="button"}

{/block}
{block name="content"}
<div class="layui-form-item layui-inline" style="margin-left: 30px;">

<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">订单号</label>
        <div class="layui-input-inline">
            <input name="trade_no" value="{$Think.get.trade_no|default=''}" placeholder="请输入搜索关键词" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">用户ID</label>
        <div class="layui-input-inline">
            <input name="user_id" value="{$Think.get.user_id|default=''}" placeholder="请输入搜索关键词" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">生成时间</label>
        <div class="layui-input-inline" style="width: 265px;">
            <input name="addtime"  autocomplete="off" id='addtime' value="{$Think.get.addtime|default=''}" placeholder="请选择生成时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">支付时间</label>
        <div class="layui-input-inline" style="width: 265px;">
            <input name="pay_time"  autocomplete="off" id='pay_time' value="{$Think.get.pay_time|default=''}" placeholder="请选择支付时间" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <select name='status' class='layui-select' lay-verify="required" lay-search="">
                <option value=''> - 全部 -</option>
                <!--{foreach [0=>'未支付', 1=>'已支付'] as $k => $v}-->
                <!--{if($Think.get.status != '' && $Think.get.status == $k)}-->
                <option selected="selected" value='{$k}'> - {$v} - </option>
                <!--{else}-->
                <option value='{$k}'> - {$v} - </option>
                <!--{/if}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
    
</div>
<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
		<tr>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>订单号</th>
            <th class='text-left nowrap'>用户信息</th>
            <th class='text-left nowrap'>商品信息</th>
            <th class='text-left nowrap'>支付金额</th>
            <th class='text-left nowrap'>生成时间</th>
            <th class='text-left nowrap'>支付时间</th>
            <th class='text-left nowrap'>状态</th>
            
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td>
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                {/if}

            </td>
            <td class='text-left nowrap'>
                {$vo.id}
            </td>
            <td class='text-left nowrap'>
                {$vo.trade_no}
            </td>
            <td class='text-left nowrap'>
                ({$vo.user_id})--{$vo.nickname}--
                <img id="img" data-tips-image style="height:auto;max-height:32px;min-width:32px" src='{$vo.avatar}' />
            </td>
            <td class='text-left nowrap'>
                {if($vo.good_id)}
                ({$vo.good_id})--{$vo.good_name}--
                <img id="img" data-tips-image style="height:auto;max-height:32px;min-width:32px" src='{$vo.good_img}' />
                {/if}
            </td>
            <td class='text-left nowrap'>
                {$vo.pay_money}
            </td>
            <td class='text-left nowrap'>
                {$vo.addtime}
            </td>
            <td class='text-left nowrap'>
                {$vo.pay_time}
            </td>
            <td class='text-left nowrap'>
                 {if condition="$vo.status == 1"}
                 <span style="color:green">已支付</span>
                 {/if}
                 {if condition="$vo.status == 2"}
                 <span style="color:red">支付失败</span> 
                 {/if}
                 {if condition="$vo.status == 0"}
                 <span style="color:red">未支付</span> 
                 {/if}
            </td>
        </tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
    <script>
        window.form.render();
        window.laydate.render({range: true, elem: '#addtime', type: 'datetime'});
        window.laydate.render({range: true, elem: '#pay_time', type: 'datetime'});
    </script>
</form>
{/block}