{extend name='admin@public/content'}

{block name="button"}

{/block}
{block name="content"}
<div class="layui-form-item layui-inline">
    <!--{if auth("$classuri/add")}-->
    <!-- <button data-modal='{:url("$classuri/add")}' data-title="添加" data-width='50%' class='layui-btn layui-btn-sm'>添加</button> -->
    <!--{/if}-->
</div>
<div class="layui-form-item layui-inline" style="margin-left: 30px;">
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">openid</label>
        <div class="layui-input-inline">
            <input name="openid" value="{$Think.get.openid|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-inline">
            <input name="nickname" value="{$Think.get.nickname|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
</div>
<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
		<tr>
            <th class='text-left nowrap'>用户ID</th>
            <th class='text-left nowrap'>玩家头像</th>
            <th class='text-left nowrap'>openid</th>
            <th class='text-left nowrap'>昵称</th>
            <th class='text-left nowrap'>兑换步数</th>
            <th class='text-left nowrap'>燃力币</th>
            <th class='text-left nowrap'>兑换时间</th>
            
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
           
            <td class='text-left nowrap'>
                {$vo.id}
            </td>
            <td class='text-left nowrap'>
                {$vo.avatar}
            </td>
            <td class='text-left nowrap'>
                {$vo.openid}
            </td>
            <td class='text-left nowrap'>
                {$vo.nickname}
            </td>

            <td class='text-left nowrap'>
                {$vo.steps}
            </td>
       
            <td class='text-left nowrap'>
                {$vo.get_coins}
            </td>

            <td class='text-left nowrap'>
                {$vo.create_time}
            </td>
   
        </tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
    <script>window.form.render();</script>
</form>
{/block}