{extend name='admin@public/content'}

{block name="button"}

{/block}
{block name="content"}
<div class="layui-form-item layui-inline">
    <!--{if auth("$classuri/add")}-->
    <button data-modal='{:url("$classuri/add")}' data-title="添加" class='layui-btn layui-btn-sm'>添加</button>
    <!--{/if}-->
</div>
<div class="layui-form-item layui-inline" style="margin-left: 30px;">
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">整点场</label>
        <div class="layui-input-inline">
            <select name='special_warehouse_id' class='layui-select' lay-verify="required" lay-search="">
                <option value=''> - 所有整点场 -</option>
                <!--{foreach $special_warehouse_list as $k => $v}-->
                <!--{if $Think.get.special_warehouse_id == $k}-->
                <option selected="selected" value='{$k}'> - {$v} - </option>
                <!--{else}-->
                <option value='{$k}'> - {$v} - </option>
                <!--{/if}-->
                <!--{/foreach}-->
            </select>
        </div>
    </div>
	<div class="layui-form-item layui-inline">
        <label class="layui-form-label">题目名字搜索</label>
        <div class="layui-input-inline">
            <input name="title" value="{$Think.get.title|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
</div>
<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
		<tr>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>主键</th>
            <th class='text-left nowrap'>整点场</th>
            <th class='text-left nowrap'>标题</th>
            <th class='text-left nowrap'>描述</th>
            <th class='text-left nowrap'>选项</th>
            <th class='text-left nowrap'>创建时间</th>
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑" data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}

                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'>删除</a>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {$vo.id}
            </td>
            <td class='text-left nowrap'>
                <?php echo isset($special_warehouse_list[$vo['special_warehouse_id']]) ? $special_warehouse_list[$vo['special_warehouse_id']] : '已过期场次'; ?>
            </td>
            <td class='text-left nowrap'>
                {$vo.title}
            </td>
            <td class='text-left nowrap'>
                {$vo.des}
            </td>
            <td class='text-left nowrap'>
                {$vo.options}
            </td>
            <td class='text-left nowrap'>
                {$vo.create_time|date='Y-m-d H:i:s'}
            </td>          
        </tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
    <script>window.form.render();</script>
</form>
{/block}