{extend name='admin@public/content'}

{block name="button"}
{/block}

{block name="content"}
<div class="layui-form-item layui-inline">
    <div class="layui-form-item layui-inline">
        <a href="/static/excel/template.xlsx">表格模板</a>
    </div>
    <div class="layui-form-item layui-inline">
        <button type="button" class="layui-btn layui-btn-sm layui-bg-blue" id="test1">
            <i class="layui-icon">&#xe67c;</i>批量导入
        </button>
    </div>
    <div class="layui-form-item layui-inline">
        <!--{if auth("$classuri/add")}-->
        <button data-modal='{:url("$classuri/add")}' data-title="添加成语" class='layui-btn layui-btn-sm layui-bg-green'>添加</button>
        <!--{/if}-->
    </div>
    
    <script>
    layui.use('upload', function(){
      var upload = layui.upload;
       
      //执行实例
      var uploadInst = upload.render({
        elem: '#test1' //绑定元素
        ,url: '/admin/word/upload' //上传接口
        ,method: 'post'
        ,exts : 'xlsx'
        ,done: function(res){
            if(res.code == 1){
                layer.alert(res.msg, {title: '<i class="layui-icon">&#xe60b;</i>提示',}, function(index, item){
                    location.reload();
                });
            }else{
                layer.alert(res.msg);
            }
        }
        ,error: function(){
          //请求异常回调
        }
      });
    });
    </script>

</div>
<div class="layui-form-item layui-inline">
<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
	<div class="layui-form-item layui-inline">
        <label class="layui-form-label">成语搜索</label>
        <div class="layui-input-inline">
            <input name="word" value="{$Think.get.word|default=''}" placeholder="请输入想要搜索的关键字" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">难度搜索</label>
        <div class="layui-input-inline">
            <input name="level" value="{$Think.get.level|default=''}" placeholder="请输入想要搜索的难度(1,2,3,..)" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
</div>


<form onsubmit="return false;" data-auto="true" method="post">
	<!--{empty name='list'}-->
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    <!--{else}-->
    <table class="layui-table" lay-skin="line">
    	<thead>
    	<tr>
            <th class='text-left nowrap'>操作</th>
            <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>词语内容</th>
            <th class='text-left nowrap'>混淆第几个字</th>
            <th class='text-left nowrap'>混淆字</th>
            <th class='text-left nowrap'>词语拼音</th>
            <th class='text-left nowrap'>词语释义</th>
            <th class='text-left nowrap'>词语说明</th>
            <th class='text-left nowrap'>难度等级</th>
            <th class='text-left nowrap'>词语状态</th>
            
    	</tr>
    	</thead>
    	<tbody>
    	<!--{foreach $list as $key=>$vo}-->
    	<tr>
            <td class='text-left nowrap'>

                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑" data-modal='{:url("$classuri/edit")}?id={$vo.id}'>编辑</a>
                {/if}


                {if $vo.status eq 1 and auth("$classuri/forbid")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}'>禁用</a>
                {elseif auth("$classuri/resume")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'>启用</a>
                {/if}

            </td>
            <td class='text-left nowrap'>
                {$vo.id}
            </td>
            <td class='text-left nowrap'>
                {$vo.word}
            </td>
            <td class='text-left nowrap'>
                {$vo.mix_num}
            </td>
            <td class='text-left nowrap'>
                {$vo.mix_char}
            </td>
            <td class='text-left nowrap'>
                {$vo.pinyin}
            </td>
            <td class='text-left nowrap'>
                <?php if(mb_strlen($vo['intro'], "utf-8") > 20) { echo mb_substr($vo['intro'], 0, 20, "UTF8") . '...'; } else { echo $vo['intro']; }?>
                {//$vo.intro|mb_substr=0,20, "utf-8"}

                {//if mb_strlen($vo.intro, "utf-8") > 20}
                
            </td>
            <td class='text-left nowrap'>
                <?php if(mb_strlen($vo['caution'], "utf-8") > 20) { echo mb_substr($vo['caution'], 0, 20, "UTF8") . '...'; } else { echo $vo['caution']; }?>
                {//$vo.caution}
            </td>
            <td class='text-left nowrap'>
                {$vo.level}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status eq 0}<span class="color-red">禁用</span>{elseif $vo.status eq 1}<span class="color-green">启用</span>{/if}
            </td>
            
    	</tr>
    	<!--{/foreach}-->
    	</tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    <!--{/empty}-->
</form>
{/block}